<h1>String pipes</h1>
<h2>{{ name }}</h2>
<label for="lowercase">Lowercase pipe example</label>
<h2>{{ name | lowercase }}</h2>
<label for="">Uppercase pipe example</label>
<h2>{{ name | uppercase }}</h2>
<label for="">Slice pipe</label>
<h2>{{ name | slice : 0 : 3 }}</h2>
<label for="">titleCase pipe example</label>
<h2>{{ message | titlecase }}</h2>
<label for="">JSON pipe</label>
<h2>{{ person | json }}</h2>

<h1>Number Pipes</h1>

<label for="">number pipes</label>
<h2>{{ 8.5 | number : "1.1-2" }}</h2>
<h2>{{ 8.5 | number : "3.1-5" }}</h2>
<h2>{{ 8.5 | number : "2.0-1" }}</h2>

<label for="">currency pipes example</label>
<h2>{{ 68 | currency }}</h2>
<h2>{{ 68 | currency : "INR" }}</h2>
<h2>{{ 68 | currency : "INR" : "code" }}</h2>

<label for="">Percent Pipe</label>
<h2>{{ 0.85 | percent }}</h2>

<h1>Date Pipe</h1>
<h2>{{ date }}</h2>
<h2>{{ date | date }}</h2>
<h2>{{ date | date : "short" }}</h2>
<h2>{{ date | date : "shortTime" }}</h2>
<h2>{{ date | date : "longTime" }}</h2>
